<div id="edit-movie">

  <form action='/movies/edit' method="POST">
    <input type="hidden" name="_method" value="PUT">
    Name: <input type="text" name="movie[name]" ><br>
    Genre:<input type="text" name="genre[name]" ><br>
    Description: <input type="text" name="movie[description]"><br>
    <input type="text" name="movie[rating]"><br>
    <input type="submit">
  </form>

</div>